body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea, p, blockquote, th, td {
    padding:0;
    margin:0;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body,input,textarea {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404040;
    font-size: 16px;
    background: #2d4259;
}

.register-title {
    width: 342px;
    line-height: 43px;
    margin: 50px auto 20px;
    font-size: 19px;
    font-weight: 500;
    color: white;
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background: #d7604b;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #dc745e, #d45742);
    background-image: -moz-linear-gradient(top, #dc745e, #d45742);
    background-image: -o-linear-gradient(top, #dc745e, #d45742);
    background-image: linear-gradient(to bottom, #dc745e, #d45742);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 0 0 1px rgba(255, 255, 255, 0.05), 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 32px;
    font-weight: 300;
    color:  #4caf50;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
p {
    font-size: 12px;
    width: inherit;
    display: inline-block;
    margin-left: 18px;
}

.testbox {
    margin: 20px auto;
    width: 343px;
    height: 300px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #ebebeb;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}

#icon {
    display: inline-block;
    width: 30px;
    background-color: #3a57af;
    padding: 8px 2px 8px 15px;
    margin-left: 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    color: white;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 0px #cbc9c9;
}


form{
    margin: 0 30px;
}
/*input {*/
    /*font-family: inherit;*/
    /*font-size: inherit;*/
    /*color: inherit;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
/*}*/

input[type=text],input[type=password]{
    width: 200px;
    height: 39px;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 25px;
    padding-left: 15px;
}

input[type=password]{
    margin-bottom: 25px;
    margin-top: 10px;
}

/*.register-input {*/
    /*display: block;*/
    /*width: 100%;*/
    /*height: 38px;*/
    /*margin-top: 2px;*/
    /*font-weight: 500;*/
    /*background: none;*/
    /*border: 0;*/
    /*border-bottom: 1px solid #d8d8d8;*/
/*}*/
/*.register-input:focus {*/
    /*border-color: #1e9ce6;*/
    /*outline: 0;*/
/*}*/

.register-button {
    display: block;
    width: 100%;
    height: 42px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    border: 1px solid;
    border-color: #d8d8d8 #d1d1d1 #c3c3c3;
    cursor: pointer;
    padding: 6px 25px 0px 20px;
    margin: 35px 8px 20px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #3a57af;
    -webkit-box-shadow: 0 3px;
    -moz-box-shadow: 0 3px rgba(58,87,175,.75);
    box-shadow: 0 3px rgba(58,87,175,.75);
    transition: all 0.1s linear 0s;
    top: 0px;
}
.register-button:active {
    background: #eee;
    border-color: #c3c3c3 #d1d1d1 #d8d8d8;
    background-image: -webkit-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -moz-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: -o-linear-gradient(top, #eeeeee, #fcfcfc);
    background-image: linear-gradient(to bottom, #eeeeee, #fcfcfc);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.03);
}
.register-button:focus {
    outline: 0;
}



:-moz-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-placeholder {
    color: #aaa;
    font-weight: 300;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

:-ms-input-placeholder {
    color: #aaa;
    font-weight: 300;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}
